# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*.xlsx
data/raw/*.csv

# Models
app/model/*.joblib
app/model/*.pkl

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/